html:global {
  font-family: monospace;
  user-select: none;
  background-color: rgb(238, 238, 238);
  color: rgb(17, 17, 17);
}

body:global {
  margin: 0;
  display: flex;
  flex-direction: column;
}

.rootContainer {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  flex-shrink: 0;
  padding: 1vmax;
  padding-bottom: 0;
  font-size: 5vmax;
  font-weight: bold;
}

.imageContainer {
  padding: 1.5vmax;
}

.image {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 1vmax;
  overflow: hidden;
}

.tile {
  width: 20%;
  height: 20%;
  border-width: 0;
  z-index: 1;
}

.loading {
  display: none;
}

.info {
  flex-grow: 1;
}

.label {
  padding-left: 2vmax;
  font-size: 4vmax;
  font-style: italic;
}

.navbar {
  flex-shrink: 0;
  padding: 3vmax;
  padding-bottom: 2vmax;
  display: flex;
  flex-direction: row;
  font-size: 4.5vmax;
  font-weight: bold;
  font-style: italic;
}

.button {
  cursor: pointer;
}

.center {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 3.5vmax;
}
