html:global {
  font-family: monospace;
  user-select: none;
  background-color: rgb(238, 238, 238);
  color: rgb(17, 17, 17);
}

body:global {
  margin: 0;
  display: flex;
  flex-direction: column;
}

.root {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  flex: 0 0 auto;
  display: flex;
  padding: 1vmax;
  padding-bottom: 0;
  font-size: 4.5vmax;
  font-weight: bold;
}

.image {
  flex: 0 0 auto;
  display: flex;
  padding: 1.5vmax;
}

.info {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  padding: 2vmax;
  padding-top: 0;
  font-size: 4.25vmax;
  font-style: italic;
}

.footer {
  flex: 0 0 auto;
  display: flex;
  padding: 2.5vmax;
  padding-bottom: 1.5vmax;
}

.button {
  font-size: 4.25vmax;
  font-weight: bold;
  font-style: italic;
  cursor: pointer;
}

.center {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4.25vmax;
  font-style: italic;
}
